[Unit]
Description=Collectd Exporter

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/collectd_exporter --collectd.listen-address="0.0.0.0:65534"

[Install]
WantedBy=multi-user.target

